<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
</head>

<body>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Gestor de Eventos</h4>
        <p>Versión: 1.0.0</p>
        <p>Desarrollado por: Rafael Sarmiento</p>
        <p>Correo: <a href="mailto:edgardo.rsc@gmail.com">edgardo.rsc@gmail.com</a></p>
        <p>Repositorio: <a href="https://www.github.com/rafasarmiento/Casa-Verde"> https://www.github.com/rafasarmiento/Casa-Verde</a></p>
        <hr>
        <p class="mb-0">Aplicación de escritorio multiplataforma desarrollada con el framework Electron.</p>
    </div>
    <a href="./morelinks.html">Regresar</a>
</body>

</html>