<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- librerias de estilos -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../../assets/appStyles.css">
    <!-- fin librerias de estilos -->
    <title>Gracias por el interés</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="./index.html" class="brand-logo left">Casa Verde</a>
            <ul id="nav-mobile" class="right">
                <li><a target="_blank" rel="noopener" href="https://www.github.com/rafasarmiento">GitHub</a></li>
                <li><a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/rafael-sarmiento-608513133">LinkedIn</a></li>
                <li><a href="./acerca-de.html">Sobre mí</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" style="text-align: center;">
        <h1>Gracias por utilizar el sistema!</h1>
        <p>Si quieres saber más sobre el desarrollador de este sistema, en la barra de navegacion tienes links para ello.</p>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>